<!DOCTYPE html>
<html lang="en">
<head>
	<title>Atnaujinti Pamoka</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/stiliai.css">
  <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VIKO</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/paskyra">Paskyra</a></li>
      <li><a href="/pamokos">Pamokos</a></li>
      <li><a href="/manopamokos">Mano pamogos</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Atsijungti</a></li>
    </ul>
  </div>
</nav>
<div align="center" class="container">
<h3>Atnaujinti pamoka</h3>
  
  
  <form class="form-inline" action='/atnaujinti/<%= pamoka %>' method='post'>
	
	<div class="input-group">
		<input type="text" class="form-control" id="tema" name="tema" value="<% if(typeof tema != "undefined"){%><%=tema%><% } %>" placeholder="Tema">
    </div>
	
	<br>
	<br>
	
    <div class="input-group">
		<input type="text" class="form-control" id="aprasymas" name="aprasymas" value="<% if(typeof aprasymas != "undefined"){%><%=aprasymas%><% } %>" placeholder="Aprašymas"></textarea>
    </div>
	
	<br>
	<br>
	<% if(typeof kalba != "undefined"){%>
	
	<% if(kalba == "JavaScript") { %>
	<div class="form-group">
		Kalba:
		<select name="kalba" class="form-control" >		
		<option >JavaScript </option>
		<option >HTML</option >
		<option >CSS</option >
		</select>
		</div>
		
		<% } else if (kalba == "HTML") { %> 
		
		<div class="form-group">
		Kalba:
		<select name="kalba" class="form-control" >
		<option >HTML</option >
		<option >JavaScript </option >		
		<option >CSS</option >	
		</select>
		</div>	
		<% } else { %>
		<div class="form-group">
		Kalba:
		<select name="kalba" class="form-control" >
		<option >CSS</option> 
		<option >JavaScript </option>
		<option >HTML</option >
		
		</select>
		</div>
		
		<%}%>

	<% }%>	
	
	<br><br>
	<% if(typeof lygis != "undefined"){%>	
			<% if(lygis == "Pradžiamokslis") { %>
<div class="form-group">
		Lygis:
		<select name="lygis" class="form-control">
		<option >Pradžiamokslis</option > 
		<option >Vidutinis</option >
		<option >Pažengęs</option >
		</select>
	</div>
		<% } else if (lygis == "Vidutinis") { %> 
		<div class="form-group">
		Lygis:
		<select name="lygis" class="form-control">
		<option >Vidutinis</option >
		<option >Pradžiamokslis</option > 
		<option >Pažengęs</option >
		</select>
	</div>
			
 <% } else { %>
		<div class="form-group">
		Lygis:
		<select name="lygis" class="form-control">
		<option >Pažengęs</option >
		<option >Vidutinis</option >
		<option >Pradžiamokslis</option > 
		</select>
	</div>

 <%}%>
	<% }%>	
	
	<br>
	<br>
	<p align="center"><button class="btn-primary btn-md" >Toliau</button></p>
</form>
<form action="/paskyra">
	<p align="center"><button class="btn-primary btn-md">Atšaukti</button></p>
 </form> 
 	<span style="color:red"> <% if(typeof zinute != "undefined") {%>  <%= zinute %> <% } %></span>
  

<script>
function atnaujinti() {
var vardas = document.getElementById('tema').value
var aprasymas = document.getElementById('aprasymas').value
fetch('/atnaujinti', {
    method: 'put',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({
      'tema': vardas,
	  'aprasymas': aprasymas
	  
    })
  })
  .then(response => {
    if (response.ok) {return response.json()
	}
		
  })
  .then(data => {
  })
  

}
</script>
</body>
</html>